<main class="mt-4">
    <section>
        <div class="container-fluid">
            <div class="row align-items-center vh-80">
                <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4">
                    <div class="card bg-theme mb-3">
                        <div class="p-3 text-white text-center">
                            <span class="bi bi-person-circle display-4 mb-2"></span>
                            <p class="fs-5 mb-0">{{agencyDetails?.firstName}} {{agencyDetails?.lastName}}</p>
                        </div>
    
                        <div class="card p-3 shadow-none rounded-bottom rounded-5 ">
                            <h5 class="text-center fw-bold mb-4">Change Password</h5>
                            <form>
                                <div class="d-flex align-items-center mb-3"></div>
                                <form [formGroup]="changePasswordForm">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="mb-3"> 
                                                <i *ngIf="passwordshowOld" class="bi bi-eye password-key"   (click)="passwordshowOld = !passwordshowOld"></i>
                                                <i *ngIf="!passwordshowOld" class="bi bi-eye-slash password-key"  (click)="passwordshowOld = !passwordshowOld"></i>
                                                <input [type]="passwordshowOld ? 'text' : 'password'" class="form-control form-control-lg" formControlName="oldPassword"  placeholder="Old Password" autofocus>
                                            </div>
                                            <div *ngIf="f['oldPassword'].touched && f['oldPassword'].invalid" class="error">
                                                <div *ngIf="f['oldPassword'].hasError?.('required')">
                                                  Please enter old password
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="mb-3">
                                                <i *ngIf="passwordshowNew" class="bi bi-eye password-key"   (click)="passwordshowNew = !passwordshowNew"></i>
                                                <i *ngIf="!passwordshowNew" class="bi bi-eye-slash password-key"  (click)="passwordshowNew = !passwordshowNew"></i>
                                                <input [type]="passwordshowNew ? 'text' : 'password'" class="form-control form-control-lg" formControlName="newPassword"  placeholder="New Password" autofocus>
                                            </div>
                                            <div *ngIf="f['newPassword'].touched && f['newPassword'].invalid" class="error">
                                                <div *ngIf="f['newPassword'].hasError?.('required')">
                                                  Please enter new password
                                             </div>
                                             <div *ngIf="!f['newPassword'].invalid">
                                                <div *ngIf="oldNewError" class="error">
                                                    New Password should not match with Old password
                                              </div>
                                            </div>
                                            <div *ngIf="f['newPassword'].errors?.['minlength']" class="error">
                                                New Password Must Be At Least 8 Characters</div>
                                              <div class="error" *ngIf="f['newPassword'].hasError?.('passwordStrength')">
                                                {{ f['newPassword'].errors?.['passwordStrength'] }}
                                              </div>
                                              <div class="error" *ngIf="f['newPassword'].hasError?.('passwordStrengthU')">
                                                {{ f['newPassword'].errors?.['passwordStrengthU'] }}
                                              </div>
                                              <div class="error" *ngIf="f['newPassword'].hasError?.('passwordStrengthL')">
                                                {{ f['newPassword'].errors?.['passwordStrengthL'] }}
                                              </div>
                                              <div class="error" *ngIf="f['newPassword'].hasError?.('containsSpecialChar')">
                                                {{ f['newPassword'].errors?.['containsSpecialChar'] }}
                                              </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="mb-3">
                                                <i *ngIf="passwordshowConfirm" class="bi bi-eye password-key"   (click)="passwordshowConfirm = !passwordshowConfirm"></i>
                                                <i *ngIf="!passwordshowConfirm" class="bi bi-eye-slash password-key"  (click)="passwordshowConfirm = !passwordshowConfirm"></i>
                                                <input [type]="passwordshowConfirm ? 'text' : 'password'" formControlName="conformNewPassword" class="form-control form-control-lg" placeholder="Confirm New Password" autofocus>
                                            </div>
                                            <div *ngIf="changePasswordForm.errors?.['notMatch'] && (f['conformNewPassword'].touched || f['conformNewPassword'].dirty) && f['conformNewPassword'].value" class="error">
                                                Confirm Password Should Match With New Password
                                            </div>
                                              <div *ngIf="f['conformNewPassword'].touched && !f['conformNewPassword'].valid" class="error">
                                                Please enter Confirm password</div>
                                        </div>
                                        <div class="col-12">
                                            <div class="d-grid mb-3"> 
                                                <a class="btn btn-primary" [ngClass]="{'disabled':!changePasswordForm.valid || oldNewError}" (click)="changePassword()">Submit</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                               
                            </form>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
